In [13]:
import pandas as pd

import numpy as np

income = np.array([75_000, 55_000, 88_000, 125_000, 64_000, 97_000])
income = np.append(income, 12_000_000)
income.mean()

1786285.7142857143

In [14]:
income.std()

4169786.007331644

In [23]:
test_score = [70, 65, 95, 88]

score = np.array(test_score)
score.std()
score.max()

95

In [29]:
import pandas as pd
test_dict = {'cory':[63, 75, 88], 'Kevin': [48, 98, 92], 'Akshay':[87,86, 85]}
df = pd.DataFrame(test_dict)

In [30]:
df

   cory  Kevin  Akshay
0    63     48      87
1    75     98      86
2    88     92      85

In [31]:
df = df.T
df

         0   1   2
cory    63  75  88
Kevin   48  98  92
Akshay  87  86  85

In [32]:
df.columns = ['Quiz1', 'Quiz2', 'Quiz3']
df

        Quiz1  Quiz2  Quiz3
cory       63     75     88
Kevin      48     98     92
Akshay     87     86     85

In [41]:
df.iloc[:,1]

cory      75
Kevin     98
Akshay    86
Name: Quiz2, dtype: int64